html{
    background-color: mintcream;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 5px;
}
table{ 
    width: 1000px;
    table-layout: fixed;
}
th{
    background-color: lavender;
    width: 50px;
    height: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
td{
    height: 100px;
    text-align: left;
    vertical-align: top;   
}
.events{
    color: darkblue;
}
.date{
    font-weight: bold;
}
/* Hover attribute found on https://www.w3schools.com/css/css_table.asp */
tr:hover{
    background-color: lightblue;
}
td:hover{
    background-color: lightseagreen;
}
#signin, #reg{
    font-size: 20px;
    font-weight: bold;
}
h1{
    font-size: 50px;
    font-family: inherit;
}
#month, #day{
    width: 40px;
}
#year{
    width: 60px;
}